In [1]:
import numpy as np
import pandas as pd
import string
import re
import itertools

In [2]:
dataset=pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
dataset.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
#new version
def wordArray(string2):
    string2=str(string2)
    punctuation2=string.punctuation
    punctuation2=punctuation2.replace('\'',"")
    punctuation2=punctuation2.replace(',',"")
    punctuation2=punctuation2.replace('.',"")
    punctuation2=punctuation2.replace('!',"")
    punctuation2=punctuation2.replace('?',"")
    returnString=re.sub(r'([,.!?])', r' \1', string2)
    returnString=returnString.translate(returnString.maketrans("","",punctuation2))
    returnString=returnString.replace("  ", " ")
    arr=returnString.split(" ")
    arr.append("<eor>")
    return (arr)

In [4]:
dataset["review.words"]=dataset["Review Text"].apply(wordArray)
dataset["review.words"].head()

0    [Absolutely, wonderful, silky, and, sexy, and,...
1    [Love, this, dress, !, it's, sooo, pretty, ., ...
2    [I, had, such, high, hopes, for, this, dress, ...
3    [I, love, ,, love, ,, love, this, jumpsuit, .,...
4    [This, shirt, is, very, flattering, to, all, d...
Name: review.words, dtype: object

In [5]:
#sending the word arrays to a txt file
wordsTxt = dataset["review.words"].values.flatten()
wordsArr = itertools.chain(wordsTxt)
temp=list(wordsArr)
arrOut=np.concatenate(temp, axis=0)
np.savetxt('ClothesPreprocessed.out', arrOut, delimiter=" ", fmt="%s",encoding='utf8')

In [6]:
#sending the words arrays to a .txt file
outFile= open("ClothesPreprocessed.txt","w+",encoding='utf8')
outFile.write(" ".join(arrOut))
outFile.close()